@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700;900&display=swap');

body {
    background-color: hsl(0, 0%, 90%);
    font-family: 'Epilogue', sans-serif;
}

/* NavBar */

header {
    padding: 1.5% 2%;
    display: flex;
}

.brand {
    margin-right: 50px;
}

a{
    font-weight: 500;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    margin-right: 35px;
    font-size: 1rem;
}

button {
    border: none;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 35px;
    padding: 0;
}

a:hover{
    color: hsl(0, 0%, 8%);
}

.nav {
    flex-grow: 3;
}


a.register {
    margin-right: 0;
    border: 1.5px solid hsl(0, 0%, 41%);
    border-radius: 15px;
    padding: 15px 20px;
}

a.register:hover {
    border: 1.5px solid hsl(0, 0%, 8%);
}

/* Dropdown */

.dropdown:hover {
    color: hsl(0, 0%, 8%);
}

.dropdown-ico {
    transition: transform 0.7s;
}

button:hover .dropdown-ico{
    stroke: hsl(0, 0%, 8%);
}

button:focus .dropdown-ico{
    transform-origin: center;
    transform: rotate(180deg);
}

.dropdown:focus-within #features-menu{
    display: block;
}

.dropdown:focus-within #company-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;  
    text-align: left;
}

.dropdown-menu img{
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#company-menu {
    top: 70px;
    left: 295px;

    display: none;
}

#features-menu{
    top: 70px;
    left: 110px;
    
    display: none;
}

.dropdown-menu a{
    display: block;
    margin: 20px auto;
}

/* -- */


/* Content */

.main-content{
    padding: 2% 10%;
    display: flex;
    
    align-items: center;
}


.hero-img{
    max-width: 100%;
}

.hero-img-mobile {
    display: none;
}

h1{
    font-weight: 700;
    font-size: 4.5rem;
    max-width: 85%;

    color: hsl(0, 0%, 8%);
}

p{
    max-width: 70%;
    line-height: 1.5;
    color: hsl(0, 0%, 41%);
    margin-bottom: 50px;
}

.cta-btn {
    background-color: hsl(0, 0%, 8%);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1.5px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 90%);
    margin-bottom: 130px;
}

.cta-btn:hover {
    background-color: transparent;
    color: hsl(0, 0%, 8%);
}

.sponsors {
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-start;
}

.sponsors img {
    margin-right: 40px;
}


.attribution {
    padding: 10% 10% 2%;
    color: hsl(0, 0%, 41%);
    text-align: center;
    font-size: 0.6875rem;
}

.attribution a{
    margin: auto;
    color: hsl(228, 45%, 44%);
    font-size: 0.6875rem;
}

/* Mobile Nav */

.hamburger {
    padding: 0;
    display: none;
    font-size: 1.5rem;
    color: hsl(0, 0%, 8%);
}

.mobile-nav-menu {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 60vw;
    padding: 2% 5%;
    margin: 0;
    background-color: hsl(0, 0%, 90%);
    visibility: collapse;

    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
    opacity: 0;
    transition: all 0.3s;
}

.x-mark {
    font-size: 2rem;
    color: hsl(0, 0%, 8%);
    margin-bottom: 20px;
    position: relative;
    left: 55vw;
    padding: 1% 2%;
    text-align: right;
}

.mobile-nav-menu *{
    display: block;
}

.nav-items svg{
    display: inline;
}

.nav-items button, a{
    margin-bottom: 20px;
    max-width: 100%;
    text-align: left;
}


.nav-social-mobile {
    margin-top: 50px;
}

.nav-social-mobile .login {
    margin: 20px auto;
    text-align: center;
}

.nav-social-mobile .register {
    margin: 20px auto;
    text-align: center;
}

.dropdown-menu-mobile {
    display: block;
    background-color: none;
    position: relative;
    left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.dropdown-menu-mobile img{
    display: inline;
}

#company-menu-mobile, #features-menu-mobile{
    display: none;
}

.dropdown:focus-within #features-menu-mobile {
    display: block;
}

.dropdown:focus-within #company-menu-mobile {
    display: block;
}



@media (max-width: 810px) {

    .nav, .nav-social {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .brand {
        margin-right: auto;
    }

    .main-content{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }

    h1 {
        margin: 20px auto;
        font-size: 2rem;
        max-width: 100%;
    }

    p {
        margin: 20px auto;
        max-width: 100%;
    }

    .cta-btn{
        margin: 10px auto 100px auto;
    }

    .hero-img {
        display: none;
    }

    .hero-img-mobile {
        display: block;
        max-width: 100%;
    }

    .sponsors {
        flex-grow: 0.5;
    }

    .sponsors img {
        width: 20%;
        margin: auto;
    }

}

